main { 
    display: flex;
    padding-top: 120px; 
    align-items: center;
    justify-content: center;
 }
  .coverage-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0f7ec;
    max-width: 1440px;
    width: 300px;
    justify-content: center;
    height: 700px;
    gap: 30px;
    border-radius: 10px;
}

 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
 }

 .input {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    text-align: center;
 }

 .input-txt {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    text-align: center;
 }

 .btn-form {
    background: linear-gradient(to bottom, #6ddf6d 0%, #4caf50 100%); 
    border: none; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    color: white; 
    font-weight: bold; 
    text-transform: uppercase; 
    padding: 12px 24px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
    height: 40px;
    width: 150px;
   
}

.btn-form:hover { 
   background: #061807;
   transform: scale(1.10);
   transition: background-color 0.3s ease;
}

